# Configuration file for fw_(printenv/saveenv) utility.
# Up to two entries are valid, in this case the redundant
# environment sector is assumed present.
# Notice, that the "Number of sectors" is ignored on NOR.


# NAND example
#/dev/mtd2		0x0		0x20000		0x20000			1

#eMMC 
# MMC device name       Device offset   Env. size       Flash sector size
/dev/mmcblk0p2          0x0             0x20000        0x200
