// SPDX-License-Identifier: GPL-2.0
/* Copyright 2016-2018 NXP Semiconductors
 * Copyright 2019 Vladimir Oltean <olteanv@gmail.com>
 */

/dts-v1/;
#include "ls1021a.dtsi"

/ {
	model = "flexiHaul EAG6L Board";

	sys_mclk: clock-mclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24576000>;
	};

	reg_vdda_codec: regulator-3V3 {
		compatible = "regulator-fixed";
		regulator-name = "3P3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_vddio_codec: regulator-2V5 {
		compatible = "regulator-fixed";
		regulator-name = "2P5V";
		regulator-min-microvolt = <2500000>;
		regulator-max-microvolt = <2500000>;
		regulator-always-on;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		prestera_rsvd: buffer@0x200000000 {
			/* to be used as a shared pool of DMA buffers for a set of devices */
			compatible = "shared-dma-pool";
			/* No one other than devices registered for that mem, may use this area */
			no-map;

			/* Base addr (first 2 cells) requires alignment, we choose start of memory */
			reg = <0x2 0x400000 0x0 0x400000>;
		};
	};

	mv_dma {
		compatible = "marvell,mv_dma";
		memory-region = <&prestera_rsvd>;
		status = "okay";
	};
};

&enet0 {
	phy-handle = <&rgmii_phy1>;
	phy-mode = "rgmii-id";
	status = "okay";
};

&esdhc {
	status = "okay";
};

&i2c0 {
	status = "okay";

	/* 3 axis accelerometer */
	accelerometer@1e {
		compatible = "fsl,fxls8471";
		position = <0>;
		reg = <0x1e>;
	};

	/* Audio codec (SAI2) */
	audio-codec@2a {
		compatible = "fsl,sgtl5000";
		VDDIO-supply = <&reg_vddio_codec>;
		VDDA-supply = <&reg_vdda_codec>;
		#sound-dai-cells = <0>;
		clocks = <&sys_mclk>;
		reg = <0x2a>;
	};

	/* Current sensing circuit for 1V VDDCORE PMIC rail */
	current-sensor@44 {
		compatible = "ti,ina220";
		shunt-resistor = <1000>;
		reg = <0x44>;
	};

	/* Current sensing circuit for 12V VCC rail */
	current-sensor@45 {
		compatible = "ti,ina220";
		shunt-resistor = <1000>;
		reg = <0x45>;
	};

	/* Thermal monitor - case */
	temperature-sensor@48 {
		compatible = "national,lm75";
		reg = <0x48>;
	};

	/* Thermal monitor - chip */
	temperature-sensor@4c {
		compatible = "ti,tmp451";
		reg = <0x4c>;
	};

	eeprom@51 {
		compatible = "atmel,24c32";
		reg = <0x51>;
	};

	/* Unsupported devices:
	 * - FXAS21002C Gyroscope at 0x20
	 * - TI ADS7924 4-channel ADC at 0x49
	 */
};

&i2c1 {
  
	      status = "okay";
   
        phc@5b {
              compatible = "idt,8a34000";
                  reg = <0x5b>;
        };
};


&ifc {
	#address-cells = <2>;
	#size-cells = <1>;
	/* NOR Flash on board */
	ranges = <0x0 0x0 0x0 0x71200000 0x400000>;
	status = "okay";

	fpga_nor@0,0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "cfi-flash";
		bank-width = <2>;
		device-width = <1>;
		reg = <0x0 0x0 0x2000000>;

    partition@0 {
            reg = <0x0 0x200000>;
            label = "fpga-bank1";
    };
    partition@1 {
            reg = <0x200000 0x400000>;
            label = "fpga-bank2";
    };
	};
};


&lpuart0 {
	status = "okay";
};

&lpuart3 {
	status = "okay";
};

&mdio0 {
	/* AR8031 */
	rgmii_phy1: ethernet-phy@1 {
		reg = <0x1>;
	};

};

/*
&sai2 {
	status = "okay";
};

&sata {
	status = "okay";
};

*/
&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};
/*
/{
	sdma_drv {
		compatible = "marvell,mvppnd";
		interrupts = <GIC_SPI 0x23 IRQ_TYPE_LEVEL_HIGH>;
		status = "okay";
	};
};
*/
