.*.sw*
###################################################
# busybox
###################################################
busybox-1.34.1/**/*.cmd
busybox-1.34.1/**/*.o
busybox-1.34.1/**/*.a
busybox-1.34.1/**/*.in
busybox-1.34.1/**/.config*
busybox-1.34.1/**/busybox*
busybox-1.34.1/**/Kbuild
busybox-1.34.1/.kconfig.d
busybox-1.34.1/.kernelrelease
busybox-1.34.1/applets/applet_tables
busybox-1.34.1/applets/usage
busybox-1.34.1/applets/usage_pod
busybox-1.34.1/include/NUM_APPLETS.h
busybox-1.34.1/include/applet_tables.h
busybox-1.34.1/include/applets.h
busybox-1.34.1/include/autoconf.h
busybox-1.34.1/include/bbconfigopts.h
busybox-1.34.1/include/bbconfigopts_bz2.h
busybox-1.34.1/include/common_bufsiz.h
busybox-1.34.1/include/config/
busybox-1.34.1/include/embedded_scripts.h
busybox-1.34.1/include/usage.h
busybox-1.34.1/include/usage_compressed.h
busybox-1.34.1/scripts/basic/docproc
busybox-1.34.1/scripts/basic/fixdep
busybox-1.34.1/scripts/basic/split-include
busybox-1.34.1/scripts/kconfig/conf
busybox-1.34.1/scripts/kconfig/lex.zconf.c
busybox-1.34.1/scripts/kconfig/zconf.hash.c
busybox-1.34.1/scripts/kconfig/zconf.tab.c
#busybox-1.34.1/docs/**/*
busybox-1.34.1/docs/*


###################################################
# i2c-tools
###################################################
i2c-tools/lib/lib*.so*
i2c-tools/lib/*.o
i2c-tools/lib/*.a
i2c-tools/lib/*.ao
i2c-tools/tools/i2cdetect
i2c-tools/tools/i2cdump
i2c-tools/tools/i2cget
i2c-tools/tools/i2cset
i2c-tools/tools/*.o

###################################################
# sysmon
###################################################
sysmon/sysmon

###################################################
# cpss
###################################################
cpss_4_3_5/compilation_root/*
cpss_4_3_5//**/.config*
cpss_4_3_5//**/*.o
cpss_4_3_5//**/*.ko

cpss_4_3_12/compilation_root/*
cpss_4_3_12//**/.config*
cpss_4_3_12//**/*.o
cpss_4_3_12//**/*.ko
